<p-drawer
  [(visible)]="sidebarVisible"
  position="left"
  [style]="{width:'15em'}"
  header="Contents"
>


  <div class="flex flex-column gap-3">
    <a routerLink="/travel" class="p-button" (click)="sidebarVisible.set(false)">Travel</a>
    <a routerLink="/review" class="p-button" (click)="sidebarVisible.set(false)">Review</a>
    <a routerLink="/map" class="p-button" (click)="sidebarVisible.set(false)">Map</a>
    <a routerLink="/admin-panel" class="p-button" (click)="sidebarVisible.set(false)">Admin</a>
  </div>


</p-drawer>
