<section id="explore">
  <p class="h1-font text-center">Instruction - explore</p>

  <div class="flex flex-column align-items-center">
    <div class="instruction flex flex-column align-items-center">
      <p class="h2-font text-center">Explore new places</p>
      <img src="/instruction-1.PNG" alt="" class="instruction-image">
    </div>

    <div class="instruction flex flex-column align-items-center">
      <p class="h2-font text-center">Guess the country game</p>
      <img src="/instruction-2.PNG" alt="" class="instruction-image">
    </div>
  </div>

  <div class="flex justify-content-center" style="margin-bottom: 5rem">
    <p-button type="button" label="Go to Explore section!" routerLink="/explore" class="animate-button"></p-button>
  </div>
</section>


<section id="travel">
  <p class="h1-font text-center">Instruction - travel</p>

  <div class="flex flex-column align-items-center">
    <div class="instruction flex flex-column align-items-center">
      <p class="h2-font text-center">List of saved trips</p>
      <img src="/instruction-3.PNG" alt="" class="instruction-image">
    </div>

    <div class="instruction flex flex-column align-items-center">
      <p class="h2-font text-center">Creating new trip route</p>
      <img src="/instruction-4.PNG" alt="" class="instruction-image">
    </div>

    <div class="instruction flex flex-column align-items-center">
      <p class="h2-font text-center">New trip details</p>
      <img src="/instruction-5.PNG" alt="" class="instruction-image">
    </div>

    <div class="instruction flex flex-column align-items-center">
      <p class="h2-font text-center">Show and edit trip</p>
      <img src="/instruction-6.PNG" alt="" class="instruction-image">
    </div>
  </div>

  <div class="flex justify-content-center" style="margin-bottom: 5rem">
    <p-button type="button" label="Go to Travels section!" routerLink="/travels" class="animate-button"></p-button>
  </div>
</section>
