<p-toolbar id="header">


  <ng-template #start>
    <div class="w-10rem flex align-items-center justify-content-start">
      <p-button
        type="button" icon="pi pi-bars" [outlined]="true"
        (click)="toggleSidebar.emit(true)"
      ></p-button>
    </div>
  </ng-template>


  <ng-template #center>
    <span class="logo-font">Just</span>
    <div class="logo-container  ml-5 mr-4" (click)="triggerPlaneAnimation()">
      <img src="logo.png" alt="" class="globe">
      <img src="plane.png" alt="" class="plane" [@fly]="isAnimating">
    </div>
    <span class="logo-font">Travel</span>
  </ng-template>


  <ng-template #end>
    <div class="w-10rem flex align-items-center justify-content-end">
      <p-button
        type="button" icon="pi pi-user" [outlined]="true" label="Log in"
      ></p-button>
    </div>
  </ng-template>


</p-toolbar>
