<p-toolbar id="header">


  <ng-template #start>
    <div class="w-10rem flex align-items-center justify-content-start">
      <p-button
        type="button" icon="pi pi-bars" [outlined]="true"
        (click)="toggleSidebar.emit(true)"
      ></p-button>
    </div>
  </ng-template>


  <ng-template #center>
    <span class="logo-font">Just</span>
    <div class="logo-container  ml-5 mr-4" (click)="triggerPlaneAnimation()">
      <img src="logo.png" alt="" class="globe">
      @for (plane of planes; track plane; let i = $index) {
        <img [src]="plane.src" alt="" class="plane" [@fly]="isAnimating && selectedPlane === i">
      }
    </div>
    <span class="logo-font">Travel</span>
  </ng-template>


  <ng-template #end>
    <div class="w-10rem flex align-items-center justify-content-end">
      <p-button
        type="button" icon="pi pi-user" [outlined]="true" label="matCh00"
      ></p-button>
    </div>
  </ng-template>


</p-toolbar>
