#header .p-toolbar {
  position: sticky;
  top: 0;
  background-color: var(--primary-color-background-transparent);
  backdrop-filter: blur(5px);
  border-radius: 0;
  margin-top: -.5rem;
  margin-inline: -.5rem;
  padding: .5rem 2rem;
}

.logo-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 80px;
  height: 80px;

  .globe {
    width: 80px;
    height: 80px;
  }

  .plane {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 30px;
  }
}
