<p-table [value]="trips()">

  <ng-template #header>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Start</th>
      <th>End</th>
      <th>Actions</th>
    </tr>
  </ng-template>

  <ng-template #body let-trip>
    <tr>
      <td>{{ trip.name }}</td>
      <td>{{ trip.location }}</td>
      <td>{{ trip.startDate | date: 'dd/MM/yyyy' }}</td>
      <td>{{ trip.endDate | date: 'dd/MM/yyyy'}}</td>
      <td>
        <p-button
          type="button" icon="pi pi-eye" [outlined]="true" class="mr-2"
          [routerLink]="['/travel', trip.id]" [queryParams]="{edit: false}" [pTooltip]="'Show'"
        ></p-button>
        <p-button
          type="button" icon="pi pi-pencil" [outlined]="true" class="mr-2"
          [routerLink]="['/travel', trip.id]" [queryParams]="{edit: true}" [pTooltip]="'Edit'"
        ></p-button>
        <p-button
          type="button" icon="pi pi-trash" [outlined]="true"
          [pTooltip]="'Delete'" (click)="deleteTrip(trip.id)"
        ></p-button>
      </td>
    </tr>
  </ng-template>

  <ng-template #emptymessage>
    <tr>
      <td colspan="5" class="text-center">No data</td>
    </tr>
  </ng-template>

</p-table>
