@import "primeflex/primeflex";
@import "primeicons/primeicons.css";

:root {
  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;
  --green-950: #052e16;
  --primary-50: var(--green-50) !important;
  --primary-100: var(--green-100) !important;
  --primary-200: var(--green-200) !important;
  --primary-300: var(--green-300) !important;
  --primary-400: var(--green-400) !important;
  --primary-500: var(--green-500) !important;
  --primary-600: var(--green-600) !important;
  --primary-700: var(--green-700) !important;
  --primary-800: var(--green-800) !important;
  --primary-900: var(--green-900) !important;
  --primary-950: var(--green-950) !important;
  --primary-color: var(--primary-500) !important;
  --primary-color-background: var(--primary-50);
  --primary-color-background-transparent: rgba(244, 252, 247, 0.8);
}

body {
  font-family: Segoe UI, sans-serif;
  margin: 0;
}


#header .p-toolbar {
  position: sticky;
  top: 0;
  background-color: var(--primary-color-background-transparent);
  backdrop-filter: blur(5px);
  border-radius: 0;
  padding: .5rem 2rem;
  z-index: 9999;
}

#footer .p-toolbar {
  background-color: var(--primary-color-background);
  border-radius: 0;
  padding: .5rem;
  z-index: 9999;
}

.p-drawer-left {
  z-index: 99999 !important;
}


app-nav-buttons .p-button {
  background-color: var(--primary-color-background-transparent) !important;
  backdrop-filter: blur(5px);
}



@font-face {
  font-family: 'Font-Light';
  src: url('../public/PlaywriteAUSA-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Font-Thin';
  src: url('../public/PlaywriteAUSA-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Font-Regular';
  src: url('../public/PlaywriteAUSA-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.logo-font {
  font-family: 'Font-Light', sans-serif;
  font-size: 2rem;
}

.h1-font {
  font-family: 'Font-Regular', sans-serif;
  font-size: 1.5rem;
}

.h2-font {
  font-family: 'Font-Thin', sans-serif;
  font-size: 1.2rem;
}

.hero-text {
  font-family: 'Font-Regular', sans-serif;
  font-size: 3rem;
  color: var(--primary-50);
  position: absolute;
  margin-top: 45vh;
  width: 100%;
}



section {
  min-height: 100vh;
  //padding: 1rem 1rem 10rem 1rem;
  padding: 1rem;
  position: relative;
}

section#hero {
  background-image: url('/hero-image.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 1rem 0;
  margin-top: -6rem;
}

section#data {
  min-height: auto;
}


section.background-green {
  background: linear-gradient(to right, white, #edffed);
}
section.background-blue {
  background: linear-gradient(to left, white, #edf5ff);
}


#street-view {
  .gm-iv-address {
    display: none !important;
  }
}


.p-dialog-content {
  overflow-y: unset !important;
}
