<div
  #navContainer
  [ngClass]="position() === 'topRight'
    ? 'flex flex-column gap-2 align-items-end sticky z-5'
    : 'flex gap-2 justify-content-center sticky z-5'"
  [ngStyle]="position() === 'topRight'
    ? {top: '7rem', right: '1rem'}
    : {top: '90vh'}"
>

  @for (fragment of fragments(); track fragment; let index = $index) {

    <p-button
      [rounded]="true" [outlined]="true"
      [icon]="'pi ' + fragment.icon"
      (click)="scrollTo(index)"
      [pTooltip]="fragment.frag" [tooltipPosition]="position() === 'topRight' ? 'left' : 'top'"
    />

  }

</div>
