<section id="trip-list">
  <p class="h1-font text-center">Your trips</p>
  <app-trip-list (delete)="handleDelete($event)"></app-trip-list>
</section>



@defer (on viewport) {

  <section id="map">
    <p class="h1-font text-center">Create new trip!</p>
    <app-map-travels [(locations)]="locations"></app-map-travels>

    <div class="flex justify-content-center mt-5">
      <p-button (click)="createTrip()" label="Create trip" size="large"></p-button>
    </div>
  </section>

} @placeholder {<div></div>}
